#footer{
    padding: 20px 0px;
    font-size: 14px;
    p{
        text-align: center;
        color: rgb(76, 82, 110);
        span{
            color: rgb(49,110,194);
        }

        a{
            color: rgb(49,110,194);
            text-decoration: none;
        }
    }
}