#add{
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;

    form{
        border: 1px solid rgb(49,110,194);
        padding: 60px 90px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        display: flex;
        flex-direction: column;
        input{
            width: 500px;
            height: 40px;
            border-radius: 10px;
            border: 1px solid rgb(49,110,194);
            margin-top: 5px;
            padding-left: 20px;
            outline: none;
        }

        button{
            margin-top: 30px;
            padding: 20px ;
            font-size: 18px;
            border-radius: 10px;
            border:none;
            color: white;
            background-color: rgb(49,110,194);
            cursor: pointer;
        }

        label{
            margin-top: 20px;
            color: rgb(49,110,194);
        }
    }
}